{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Start {% endblock %}

{% block content %}

<div class="container">

    <h1>API for fetching Instagram's data</h1>

    <form action="/" method="get" class="form" role="form">

        <div class="row">
            <div class="form-group col-md-3 col-sm-3">
                {{ wtf.form_field(form.username, class='form-control', placeholder='Enter username') }}
            </div>

            <!--<div class="form-group col-md-3 col-sm-3">-->
                <!--{{ wtf.form_field(form.password, class='form-control', placeholder='Enter password (Optional)') }}-->
            <!--</div>-->

            <div class="form-group col-md-3 col-sm-3">
                {{ wtf.form_field(form.method) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3 col-sm-3">
                {{ wtf.form_field(form.limit, class='form-control', placeholder='Enter integer value') }}
            </div>

            <div class="form-group col-md-3 col-sm-3">
                {{ wtf.form_field(form.browser) }}
            </div>


            <div class="form-group col-md-3 col-sm-3">
                {{ wtf.form_field(form.headless) }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Fetch</button>

    </form>

</div>

{% endblock %}